# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
*.tfstate.backup
*.tfvars
.terraform/

.vscode/

Thumbs.db
ehthumbs.db
Desktop.ini

*.log

*.exe
*.dll
*.so
*.dylib
*.pyc
__pycache__/

.DS_Store

node_modules/
rapport/coverage.xml
